Repository 0x64616e61/NaN: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-format-check, nix-flake-check

nix-format-check:
  name: Check Nix formatting
  entry: nix fmt -- --check
  language: system
  pass_filenames: true

nix-flake-check:
  name: Validate flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false

docs: add Hyprland function key troubleshooting guide
  docs/troubleshooting/hyprland-function-keys.md
Due: none

feat: add flake.nix with home-manager integration and rewrite README
  README.md
  flake.lock
  flake.nix
Due: nix-format-check, nix-flake-check

Update README.md
  README.md
Due: none

fix: resolve NixOS deprecations and add hardware fallback
  gpd-pocket-3.nix
  hardware-configuration-fallback.nix
  modules/system/boot.nix
  modules/system/security/secrets.nix
Due: nix-format-check

refactor: rename grOSs to NaN throughout codebase
  ARCHITECTURE.md
  CLAUDE.md
  CONTRIBUTING.md
  INSTALL.md
  MODULE_API.md
  QUICK_REFERENCE.md
  README.md
  configuration.nix
  docs/DWL_KEYBINDINGS.md
  docs/GPD_POCKET_3_ANIMATIONS.md
  docs/LOCK_SCREEN_INTEGRATION.md
  flake.nix
  hardware-config.nix
  hardware-configuration-fallback.nix
  modules/system/backup.nix
  modules/system/dwl-custom.nix
Due: nix-format-check, nix-flake-check

Fix waybar configuration
  modules/hm/waybar/default.nix
Due: nix-format-check

Fix: remove deleted hyprlock.nix import from desktop/default.nix
  ARCHITECTURE.md
  CLEANUP_REPORT.md
  CONTRIBUTING.md
  DEPLOYMENT.md
  FILE_REFERENCE.md
  GPD_P3_LED_RESEARCH.md
  INSTALL.md
  LED_CONTROL_TEST_PLAN.md
  MODULE_API.md
  MODULE_DEPENDENCY_GRAPH.md
  PROJECT_INDEX.md
  QUICK_REFERENCE.md
  REBUILD_INSTRUCTIONS.md
  SYSTEM_ANALYSIS_REPORT.md
  config-variables.nix
  configuration.nix
  docs/DWL_KEYBINDINGS.md
  docs/GPD_POCKET_3_ANIMATIONS.md
  docs/LOCK_SCREEN_INTEGRATION.md
  flake.nix
  gpd-pocket-3.nix
  hardware-configuration-fallback.nix
  modules/hm/default.nix
  modules/hm/desktop/animations.nix
  modules/hm/desktop/default.nix
  modules/hm/desktop/hypridle.nix
  modules/hm/desktop/touchscreen.nix
  modules/hm/desktop/waybar-pure-nix.nix
  modules/hm/dwl/default.nix
  modules/hm/hyprland/default.nix
  modules/hm/waybar/default.nix
  modules/system/backup.nix
  modules/system/dwl-custom.nix
  modules/system/dwl-keybinds.nix
  modules/system/power/battery-optimization.nix.disabled
  modules/system/power/lid-behavior.nix.disabled
  modules/system/security/fingerprint.nix
  modules/system/touchscreen-pen.nix
Due: nix-format-check, nix-flake-check

Update CLAUDE.md and module configurations for DWL setup
  CLAUDE.md
  modules/hm/default.nix
  modules/hm/desktop/default.nix
  modules/hm/desktop/hypridle.nix
  modules/hm/desktop/rebuild-keybind.nix
  modules/hm/hyprland/default.nix
  modules/hm/waybar/default.nix
  modules/system/default.nix
  modules/system/hardware/acpi-fixes.nix
  modules/system/security/fingerprint.nix
  modules/system/security/secrets-management.nix
Due: nix-format-check

Path conditions:
  nix-format-check: any of: \.nix$
  nix-flake-check: any of: ^flake\.(nix|lock)$
